html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* font */
    --font-family: 'Open Sans', sans-serif;
    --font-base: 16px;
    --line-height: 1.15;

    /* color */
    --color-black: #000;
    --color-white: #FFF;
    --color-offwhite: #f6f6f6;
    --color-primary: #9B59B6;
    --color-secondary: #2ECC71;
    --color-grey--light: #e2e2e2
}


/* global */

body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-base);
    color: var(--color-black);
}

img { max-width: 100%; }

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* typography */

h1 {
    font-size: 2.5em;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    h1 { font-size: 3em; }
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
}

@media only screen and (min-width: 768px) {
    h2 { font-size: 2em; }
}

a {
    color: var(--color-primary);
}

/* grid */

.container {
    padding: 0 1em;
}

